@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin,latin-ext");
/*.wrapper {*/
/*height: 100%;*/
/*display: flex;*/
/*!*position: absolute;*!*/
/*top: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*}*/
html, body {
  height: 100%; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  /*display: table;*/
  /*font-weight: 100;*/
  /*position: relative;*/ }

input, button, select, textarea {
  font-family: "Raleway", sans-serif;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.header {
  position: absolute;
  width: 100%; }

.content {
  width: 1080px;
  margin: 0 auto;
  z-index: 100;
  position: relative; }

.content-lower {
  padding-top: 200px;
  background-color: white;
  margin: 0 auto;
  width: 1080px;
  padding-bottom: 50px; }

.content-lower a:hover {
  text-decoration: none; }

.content-over {
  width: 100%;
  z-index: 3;
  position: absolute; }

.content2 {
  clear: both;
  width: 1080px;
  margin: 0 auto; }

.container-main {
  width: 100%;
  max-height: 900px;
  /*background-image: url("/images/new_baby.jpg");*/
  background-size: cover;
  /*position: absolute;*/
  z-index: 0; }

.inner-container {
  width: 100%;
  max-height: 900px;
  position: relative;
  /*top: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*left: 0;*/
  overflow: hidden; }

.overlay-form {
  width: 444px;
  height: 470px;
  padding: 60px 46px 20px 46px;
  background-color: white;
  margin: 200px auto 0 auto;
  position: relative; }

.overlay-form .lower-links {
  font-size: 12px;
  margin-top: 75px;
  color: #1FC3F3; }

.inline-form {
  width: 444px;
  padding: 20px 0;
  background-color: white;
  margin: 50px auto 0 auto;
  position: relative; }

.inline-form .lower-links {
  font-size: 12px;
  margin-top: 75px;
  color: #1FC3F3; }

.inline-form .lower-links a,
.overlay-form .lower-links a {
  color: #1FC3F3; }

.content-lower h1,
h3,
.inline-form h3,
.overlay-form h3 {
  color: #1FC3F3;
  font-size: 24px; }

.inline-form label,
.inline-form input,
.inline-form textarea,
.overlay-form label,
.overlay-form input,
.overlay-form textarea {
  font-size: 12px; }

.inline-form textarea,
.inline-form input,
.overlay-form textarea,
.overlay-form input {
  border: 1px solid #1FC3F3;
  padding-top: 5px;
  padding-bottom: 5px; }

.inline-form label,
.overlay-form label {
  margin-top: 6px; }

.inline-form label span,
.overlay-form label span {
  color: #1FC3F3; }

.inline-form .btn-submit,
.overlay-form .btn-submit {
  text-align: center;
  background-color: #1FC3F3;
  width: 100%;
  padding: 10px 0;
  color: white;
  margin-top: 15px; }

.inline-form .stripe-line,
.overlay-form .stripe-line {
  background: url("footer_image.png");
  -webkit-background-size: cover;
  background-size: cover;
  bottom: 0;
  height: 7px;
  position: absolute;
  width: 100%;
  margin-left: -46px;
  text-align: center; }

.inline-form .stripe-line div,
.overlay-form .stripe-line div {
  text-align: center;
  margin-top: -23px;
  color: #1FC3F3;
  font-size: 16px; }

.inline-form .col-md-6,
.overlay-form .col-md-6 {
  padding: 0; }

.inline-form .col-md-6:last-of-type,
.overlay-form .col-md-6:last-of-type {
  padding-left: 5px;
  padding-right: 0px; }

.inline-form .col-md-6:first-of-type,
.overlay-form .col-md-6:first-of-type {
  padding-right: 5px;
  padding-left: 0px; }

.inline-form .lower-links a.gray-link,
.overlay-form .lower-links a.gray-link,
a.gray-link {
  color: #999999; }

/*.carousel {*/
/*height: 100%;*/
/*}*/
/*.carousel-inner {*/
/*height: 100%;*/
/*}*/
.container-main-calendar {
  width: 100%;
  height: auto;
  background-color: white;
  background-size: cover; }

.wc-toolbar.wc-nav {
  position: absolute; }

.slider1 {
  width: 25%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 9999;
  margin-left: 17%;
  background-color: #FFD55B;
  padding: 0 0 0 2%; }

.sidebar {
  width: 20% !important;
  left: 0 !important;
  height: 100%;
  padding-left: 2%;
  z-index: 9999;
  background: #f5d268;
  background: -moz-linear-gradient(45deg, #f5d268 0%, #f5d268 16%, #33a9d9 53%, #33a9d9 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #f5d268), color-stop(16%, #f5d268), color-stop(53%, #33a9d9), color-stop(100%, #33a9d9));
  background: -webkit-linear-gradient(45deg, #f5d268 0%, #f5d268 16%, #33a9d9 53%, #33a9d9 100%);
  background: -o-linear-gradient(45deg, #f5d268 0%, #f5d268 16%, #33a9d9 53%, #33a9d9 100%);
  background: -ms-linear-gradient(45deg, #f5d268 0%, #f5d268 16%, #33a9d9 53%, #33a9d9 100%);
  background: linear-gradient(45deg, #f5d268 0%, #f5d268 16%, #33a9d9 53%, #33a9d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d268', endColorstr='#33a9d9', GradientType=1);
  /*color: #33A9D9;*/
  /*color: #F5D268;*/ }

.borderless td, .borderless th {
  border: none !important; }

.font-white {
  color: white;
  /*font-family: 'heroregular', sans-serif;*/
  font-size: 14px; }

.header-icons {
  margin-left: 3.5%;
  margin-bottom: 17%;
  padding-top: 18%; }

.header-icons .icon-margin {
  margin-left: 20%; }

.header-icons > img {
  width: 13%;
  cursor: pointer; }

.header-icons > a > img {
  width: 13%;
  cursor: pointer; }

.footer-info {
  color: white;
  /*font-family: 'heroregular', sans-serif;*/
  bottom: 2.5%;
  position: absolute;
  font-size: 11px; }

.footer-icon {
  position: absolute;
  bottom: 8%;
  cursor: pointer; }

.footer-icon > img {
  width: 70%; }

.logo-img {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  margin-top: 50px;
  float: left;
  /*margin: 4% 5% 0 0;*/ }

.icon-margin {
  margin-left: 5px; }

/*.logo-img > img {*/
/*width: 90%;*/
/*}*/
/*.home-title {*/
/*position: absolute;*/
/*right: 0;*/
/*text-align: right;*/
/*!*float:right;*!*/
/*margin: 17% 5% 0 0;*/
/*!*font-family: 'Comfortaa', sans-serif;*!*/
/*font-size: 36px;*/
/*!*font-weight: bold;*!*/
/*color: white;*/
/*}*/
.info-icon {
  position: absolute;
  bottom: 3%;
  right: 4%;
  z-index: 10;
  cursor: pointer; }

.info-icon > img {
  width: 80%; }

.home-boxes .full-width {
  width: 100%; }

.home-boxes h1 {
  color: #F07DB0;
  font-size: 32px;
  text-align: center;
  margin: 40px 0; }

.home-boxes hr {
  border-top: 1px solid #1FC3F3; }

.home-box {
  text-align: center;
  padding: 60px 110px 30px;
  font-size: 14px; }

.home-box h3 {
  font-size: 21px;
  color: #1FC3F3; }

.small-box {
  padding: 40px;
  text-align: center; }

.small-box h3 {
  margin: 20px 0;
  font-size: 16px;
  color: #1FC3F3; }

.small-box.lower-box {
  margin-top: 100px; }

.small-box.lower-box h3 {
  color: #F07DB0; }

.footer {
  width: 100%;
  background: url("footer_image.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  color: white;
  font-size: 12px;
  padding: 40px 0; }

.footer a {
  color: white; }

.footer label {
  color: white;
  font-weight: 100;
  font-size: 12px; }

.footer .contact-button {
  width: 50%;
  background-color: #1FC3F3;
  color: white; }

.footer .foot {
  margin-top: 10px; }

textarea.input-transparent {
  height: 200px;
  resize: none; }

.input-transparent {
  border: 1px solid white;
  background: transparent;
  padding: 15px 20px;
  width: 100%;
  color: white;
  margin-bottom: 10px; }

.box-blue {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #1FC3F3;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center; }

.box-orange {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #FFD55B;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center;
  margin-left: 1.5%; }

.box-green {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #57BC83;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center;
  margin-left: 1.5%; }

.box-pink {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #F07DB0;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center;
  margin-left: 1.5%; }

.hero-bold {
  /*font-family: 'heroregular', sans-serif;*/
  font-weight: bold;
  font-size: 16px; }

.hero-boxes {
  /*font-family: 'heroregular', sans-serif;*/
  /*font-weight: bold;*/
  font-size: 16px; }

.hero-regular {
  /*font-family: 'heroregular', sans-serif;*/
  font-size: 12px;
  color: white; }

.raleway-regular {
  /*font-family: 'Comfortaa', sans-serif;*/
  font-size: 11px; }

.input-field {
  /*font-family: 'heroregular', sans-serif;*/
  width: 85%;
  height: 35px;
  background-color: #FFEAAD;
  border: none;
  padding: 5%; }

.input-field-lg {
  /*font-family: 'heroregular', sans-serif;*/
  width: 92%;
  height: 35px;
  background-color: white;
  border: 1px solid #1FC3F3;
  margin-bottom: 6%;
  padding: 5%; }

.input-field-regular {
  /*font-family: 'heroregular', sans-serif;*/
  width: 20%;
  height: 30px;
  border: 1px solid #1FC3F3;
  background-color: white;
  padding: 1%; }

.input-field-regular.fixed200 {
  width: 200px; }

.input-field-regular-add-nanny {
  /*font-family: 'heroregular', sans-serif;*/
  width: 60%;
  height: 30px;
  border: 1px solid #1FC3F3;
  background-color: white;
  padding: 1%; }

.input-field-regular-double {
  /*font-family: 'heroregular', sans-serif;*/
  width: 50%;
  height: 30px;
  background-color: #FFEAAD;
  border: none;
  padding: 1%; }

.button-regular {
  background-color: #1FC3F3;
  color: white;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  /*width: 15%;*/
  height: 35px;
  text-align: right;
  font-weight: bold;
  float: left; }

.submit-button {
  background-color: #1FC3F3;
  color: white;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  width: 43%;
  height: 35px;
  text-align: right;
  font-weight: bold;
  float: right;
  margin-right: 7%;
  margin-top: 12%; }

.alerts {
  position: absolute;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  top: 4%; }

.onama-tabs {
  display: flex;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-size: 1.5em;
  margin-bottom: 1.5em; }

.onama-tabs-margin {
  margin-right: 10%; }

.onama-tabs-margin > a {
  color: #1FC3F3;
  text-decoration: none; }

.onama-tabs-margin > a:hover {
  color: #337ab7; }

.sub-tab {
  /*font-family: 'Comfortaa', sans-serif;*/ }

.sub-tab > p {
  margin-bottom: 1.5em;
  line-height: 150%; }

.table.table-responsive.borderless.font-white > tbody > tr > td > a {
  color: white !important;
  text-decoration: none; }

.table.table-responsive.borderless.font-white > tbody > tr > td > a:hover {
  color: #337ab7 !important; }

.table button {
  background-color: #1fc3f3;
  color: white;
  border: none; }

.selected-tab {
  color: #337ab7 !important; }

.about {
  background-color: white;
  width: 83.05%;
  height: 60%;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  padding: 2% 4% 0 4%; }

.boxes-info {
  width: 83.05%;
  height: 75%;
  bottom: 0;
  position: absolute;
  display: none;
  cursor: pointer;
  z-index: 90; }

.home-boxes-info {
  width: 91%;
  text-align: center;
  margin: 2% 0 0 4%;
  display: inline-flex;
  /*position:absolute;*/
  /*bottom:0;*/
  z-index: 10;
  /*float:right;*/ }

.home-boxes-info-text {
  /*background-color: white;*/
  width: 91%;
  text-align: center;
  margin: 2% 0 0 4%;
  display: inline-flex;
  height: 75%;
  /*position:absolute;*/
  /*bottom:0;*/
  z-index: 10;
  overflow: auto;
  /*float:right;*/ }

.box-blue-text {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #1FC3F3;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center;
  overflow-y: scroll;
  /*height:20%;*/ }

.box-orange-text {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #FFD55B;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center;
  margin-left: 1.5%;
  overflow-y: scroll; }

.box-green-text {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #57BC83;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center;
  margin-left: 1.5%;
  overflow-y: scroll; }

.box-pink-text {
  width: 100%;
  padding: 1% 2% 1% 2%;
  background-color: #F07DB0;
  color: white;
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  text-align: center;
  margin-left: 1.5%;
  overflow-y: scroll; }

.footer-icon-info {
  position: absolute;
  z-index: 9999;
  width: 82%;
  text-align: center;
  margin-top: 14%;
  display: none; }

.footer-icon-info-text {
  /*font-family: 'Comfortaa', sans-serif;*/
  font-size: 19px;
  color: white;
  position: inherit;
  z-index: 9999;
  width: 99%;
  text-align: center;
  vertical-align: middle;
  /*height:100%*/
  margin-top: 120px;
  display: none; }

.contact-form {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 230px;
  height: 350px;
  z-index: 99;
  background-color: #FFD55B;
  padding: 1%;
  display: none; }

.input-field-area {
  width: 92%;
  height: 90px;
  background-color: #FFEAAD;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  padding: 5%;
  margin-bottom: -3% !important; }

.glyphicon.glyphicon-remove-circle {
  cursor: pointer; }

.how-to {
  background-color: white;
  padding: 2% 4% 0; }

.how-to-box {
  text-align: left;
  width: 40%;
  height: 20%;
  margin-bottom: 1%;
  padding: 1%; }

.how-to-box-icons {
  position: absolute;
  /*left:20%;*/
  bottom: 5%; }

/*.how-to-box > p:first-child{*/
/*border-bottom: solid white 1px;*/
/*}*/
::-webkit-scrollbar {
  display: none; }

.input-field-application {
  /*font-family: 'heroregular', sans-serif;*/
  width: 100%;
  height: 25px;
  background-color: #FFEAAD;
  border: none;
  padding: 5%;
  margin-bottom: 1%; }

.raleway-regular-list {
  /*font-family: 'Comfortaa', sans-serif;*/
  font-size: 15px;
  float: left; }

.input-list {
  /*font-family: 'Comfortaa', sans-serif;*/
  background-color: #FFEAAD;
  font-weight: bold; }

.submit-button-application {
  background-color: #1FC3F3;
  color: white;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  width: 30%;
  height: 35px;
  text-align: right;
  font-weight: bold;
  float: right;
  margin-top: 2%; }

.table-pricing {
  /*font-family: 'Comfortaa', sans-serif;*/
  font-weight: bold;
  margin-bottom: 3%; }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #1FC3F3; }

.pricing-box {
  /*font-family: 'Comfortaa', sans-serif;*/
  /*font-weight: bold;*/
  margin-bottom: 3%;
  width: 100%;
  text-align: left;
  float: left; }

.input-field-area-contact {
  width: 100%;
  height: 90px;
  background-color: #FFEAAD;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  padding: 5%;
  /*margin-bottom:-3% !important;*/ }

.submit-button-contact {
  background-color: #1FC3F3;
  color: white;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  width: 40%;
  height: 35px;
  text-align: right;
  font-weight: bold;
  /*float:right;*/
  margin-top: 4.5%; }

.fn-icons {
  position: absolute;
  margin-left: -10%; }

.fn-icons > img {
  width: 12%; }

.button-proceed-reservation {
  position: absolute;
  right: 50px;
  top: 10px;
  background-color: #FFD55B;
  color: black;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  width: 7%;
  height: 29px;
  /*text-align: right;*/
  font-weight: bold;
  float: right; }

.bckgrnd-other {
  background-color: #FFD55B;
  width: 83.05%;
  height: 100%;
  /*bottom:0;*/
  position: absolute;
  /*padding:2% 4% 0 4%;*/
  /*text-align:-webkit-center;*/
  overflow-y: scroll; }

.nanny-box {
  width: 250px;
  height: 200px;
  border: solid 1px black;
  padding: 10px;
  /*!*font-family:'Comfortaa',sans-serif;*!*/ }

.available-nannies {
  /*font-family: 'Comfortaa', sans-serif;*/
  font-size: 15px;
  float: left; }

.nanny-info-button {
  background-color: #FFD55B;
  color: black;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  width: 100px;
  height: 29px;
  /*text-align: center;*/
  /*font-weight: bold;*/ }

.add-nanny-button {
  position: absolute;
  top: 5%;
  right: 5%; }

.add-nanny-button > button {
  background-color: #1FC3F3;
  color: white;
  border: none;
  /*font-family: 'heroregular', sans-serif;*/
  /*width:43%;*/
  height: 70px;
  font-weight: bold;
  float: right; }

.form-views {
  padding: 5%;
  /*font-family: 'heroregular', sans-serif;*/ }

.terms {
  /*font-family:'Comfortaa', sans-serif;*/
  font-size: 15px; }

.navigation {
  float: right;
  margin-top: 60px; }

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navigation ul li {
  display: inline-block;
  padding: 0 10px; }

.navigation a {
  color: white; }

.navigation.black a {
  color: black; }

.navigation .login a,
.navigation .logout a {
  color: #1FC3F3; }

.flexDiv {
  display: inline-flex;
  display: -webkit-inline-flex; }

.flexDivBlock {
  display: flex;
  display: -webkit-flex; }

.innerFlexDiv {
  margin: auto; }

.overlay-top {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  position: absolute;
  width: 100%;
  height: 430px;
  z-index: 1; }

.overlay-top-full {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; }

.radio-fields-multiple .izbor,
.radio-fields .izbor {
  border: 1px solid #1FC3F3;
  width: 50%;
  display: inline-block;
  float: left;
  height: 34px;
  text-align: center;
  padding: 6px;
  color: #999; }

.inline-form .radio-fields-multiple .izbor,
.inline-form .radio-fields .izbor {
  padding: 10px 0;
  height: auto;
  width: 49%; }

.inline-form .radio-fields-multiple .izbor:first-of-type,
.inline-form .radio-fields .izbor:first-of-type {
  margin-right: 1%; }

.inline-form .radio-fields-multiple .izbor:last-of-type,
.inline-form .radio-fields .izbor:last-of-type {
  margin-left: 1%; }

.radio-fields-multiple .izbor.selected,
.radio-fields-multiple .izbor:hover,
.radio-fields .izbor.selected,
.radio-fields .izbor:hover {
  background-color: #1FC3F3; }

.radio-fields-multiple .izbor input,
.radio-fields .izbor input {
  display: none; }

.carousel-indicators li,
.carousel-indicators .active {
  border: none;
  /*background: url("icons/slider_icon_1.png") no-repeat !important;*/
  width: 22px;
  height: 22px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.carousel-indicators li:nth-child(1) {
  background: url("icons/slider_icon_1.png") 0 0 no-repeat !important; }

.carousel-indicators li:nth-child(2) {
  background: url("icons/slider_icon_2.png") 0 0 no-repeat !important; }

.carousel-indicators li:nth-child(3) {
  background: url("icons/slider_icon_3.png") 0 0 no-repeat !important; }

.carousel-indicators li:nth-child(4) {
  background: url("icons/slider_icon_4.png") 0 0 no-repeat !important; }

.carousel-indicators li.active:nth-child(1) {
  background: url("icons/slider_icon_1_active.png") 0 0 no-repeat !important; }

.carousel-indicators li.active:nth-child(2) {
  background: url("icons/slider_icon_2_active.png") 0 0 no-repeat !important; }

.carousel-indicators li.active:nth-child(3) {
  background: url("icons/slider_icon_3_active.png") 0 0 no-repeat !important; }

.carousel-indicators li.active:nth-child(4) {
  background: url("icons/slider_icon_4_active.png") 0 0 no-repeat !important; }

#top-link-block {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: white;
  color: white;
  z-index: 150; }

#top-link-block .well {
  background-color: #1fc3f3;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 20px; }

.navbar-fixed-top + .content-container {
  margin-top: 70px; }

.content-container {
  margin: 0 130px; }

.alert.alert-danger {
  background-color: #1fc3f3;
  color: red;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  border: 0 none; }

.flash-message .alert.alert-danger {
  color: white; }

.alert.alert-danger ul {
  list-style: none; }

.btn-nanny {
  background-color: #1fc3f3;
  color: white;
  margin-top: 15px;
  padding: 10px 30px;
  text-align: center; }

.carousel-caption {
  top: 20%;
  font-size: 36px;
  bottom: auto;
  z-index: 2; }

.carousel-caption a,
.carousel-caption p {
  font-size: 1em !important; }

.btn-nanny.invert {
  background-color: white;
  color: #1fc3f3; }

.mobile-navigation-holder .icon-bar {
  background-color: white;
  height: 4px;
  width: 30px;
  display: block;
  margin: 5px 0;
  position: relative;
  z-index: 160; }

.mobile-navigation-holder .icon-bars:hover {
  cursor: pointer; }

.mobile-navigation-holder .icon-bars:hover .icon-bar {
  background-color: grey; }

.navigation.black ul.mobile-navigation,
ul.mobile-navigation {
  background: url("footer_image.png");
  position: absolute;
  width: 100%;
  color: white;
  left: 0;
  top: 0;
  padding-top: 70px;
  z-index: 155; }

.navigation.black ul.mobile-navigation a {
  color: white; }

.navigation.black ul.mobile-navigation .login a,
.navigation.black ul.mobile-navigation .logout a {
  color: #1fc3f3; }

.navigation.black .mobile-navigation-holder .icon-bar {
  background-color: black; }

ul.mobile-navigation li {
  display: block;
  font-size: 14px; }

ul.mobile-navigation li a {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  display: block; }

ul.mobile-navigation li.logout a {
  display: inline-block;
  width: 70%; }

.copyright {
  display: none; }

ul.mobile-navigation li.logout a:last-of-type {
  float: right;
  width: 30%; }

.payment-button {
  margin-right: 1%;
  background-color: grey;
  width: 200px;
  text-align: left; }

.tooltip {
  width: 300% !important; }

.tooltip-mark {
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
  background: #333;
  color: white;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  font-size: 12px; }

.email-header {
  text-align: center;
  width: 100%;
  height: 170px;
  -webkit-background-size: cover;
  background: url("/css/footer_image.png") no-repeat;
  background-size: cover; }

.email-footer {
  text-align: center;
  width: 100%;
  height: 170px;
  -webkit-background-size: cover;
  background: #F5F5F5;
  background-size: cover; }

.mobile-navigation > li {
  text-transform: uppercase; }

.desktop-navigation > li {
  text-transform: uppercase; }

.lang-icon {
  color: white;
  font-weight: bolder;
  width: 30px;
  height: auto;
  background-color: #1fc3f3;
  border-radius: 2px;
  padding: 0.5%;
  text-align: center;
  text-decoration: none; }

@media screen and (max-width: 1080px) {
  .content,
  .content-lower {
    width: 100%; }
  .logo-img {
    margin-left: 30px; } }

@media screen and (max-width: 1030px) {
  .desktop-navigation {
    padding: 0;
    font-size: 10px; }
  .carousel-indicators {
    z-index: 1; } }

@media screen and (max-width: 900px) {
  .desktop-navigation {
    display: block;
    font-size: 8px !important; } }

@media screen and (min-width: 850px) {
  .mobile-navigation-holder {
    display: none; }
  .desktop-navigation {
    display: block;
    font-size: 12px; } }

/* za mobitel */
@media screen and (max-width: 444px) {
  .payment-button {
    width: 100%; }
  .overlay-form, .inline-form {
    width: 100%; }
  .inline-form .stripe-line,
  .overlay-form .stripe-line {
    top: 0;
    bottom: auto; }
  .inline-form .col-md-6:first-of-type,
  .inline-form .col-md-6:last-of-type,
  .overlay-form .col-md-6:first-of-type,
  .overlay-form .col-md-6:last-of-type {
    padding-right: 0;
    padding-left: 0; } }

@media screen and (max-width: 850px) {
  .only-text {
    padding-right: 20px;
    padding-left: 20px; }
  .header {
    z-index: 100; }
  .carousel-indicators {
    z-index: 1; }
  .copyright {
    display: block;
    background: url("footer_image.png");
    padding: 20px;
    color: white;
    bottom: 0; }
  .copyright a {
    color: white; }
  .footer {
    display: none; }
  .footer {
    height: auto; }
  .foot div {
    text-align: center; }
  .content {
    position: static; }
  .mobile-navigation-holder {
    display: block; }
  .desktop-navigation {
    display: none;
    font-size: 8px; }
  .logo-img,
  .navigation {
    margin-top: 30px; }
  .navigation {
    margin-right: 30px; } }

@media screen and (max-width: 730px) {
  .mobile-navigation-holder {
    display: block; }
  .desktop-navigation {
    display: none; }
  .home-box {
    padding: 60px 50px 30px; }
  .lower-box {
    margin-top: 0; }
  .carousel-caption a,
  .carousel-caption p {
    font-size: 0.7em !important; } }

@media screen and (max-width: 430px) {
  .logo-img img {
    width: 50%; }
  .carousel-caption a,
  .carousel-caption p {
    font-size: 0.5em !important; } }

/*.button-regular {*/
/*font-size:12px;*/
/*}*/
/*.submit-button {*/
/*font-size:12px;*/
/*}*/
/*.submit-button-contact {*/
/*font-size:12px;*/
/*}*/
/*}*/
/*@media screen and (max-width: 767px) {*/
/*.borderless {*/
/*border: none !important;*/
/*}*/
/*.font-white {*/
/*font-size: 11px;*/
/*}*/
/*.footer-icon {*/
/*width: 5%;*/
/*}*/
/*.home-boxes {*/
/*font-size: 10px;*/
/*}*/
/*.boxes-info {*/
/*font-size: 10px;*/
/*}*/
/*.home-boxes-info-text {*/
/*font-size: 10px;*/
/*}*/
/*.home-title {*/
/*font-size: 20px;*/
/*}*/
/*.logo-img {*/
/*width: 20%;*/
/*}*/
/*.button-regular {*/
/*font-size:12px;*/
/*}*/
/*.submit-button {*/
/*font-size:12px;*/
/*}*/
/*.submit-button-contact {*/
/*font-size:11px;*/
/*}*/
/*.home-boxes {*/
/*display:inline;*/
/*}*/
/*}*/
